@import url(secondary.css);
header {
    display: flex;
}



main {
    display: flex;
    flex-direction: column;
    
}

.navbar {
    display: flex;
    justify-content: space-around;

}

.navbar__header {
    display: flex;


}

.location {
    flex: 4;
    display: flex;
    justify-content: space-around;
}

.content {
    

}

.lists {
    display: flex;
    justify-content: space-evenly;
}

.footer {

}